.bg-image {
    justify-content: flex-end;
    align-items: flex-end;
}
.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    width: 400px;
    height: 400px;
    margin: 150px;
    padding: 0 20px;
    background: rgba(232, 236, 237, 0.5);
    border: 3px solid #004225;
    box-sizing: border-box;
    border-radius: 6px;
}
.login label {
    margin-bottom: 24px;
}
.login span {
    display: block;
}
.login p {
    align-self: center;
}

@media (max-width: 600px) {
    .login {
        margin: 90px;
    }
}
