.outer {
    background-image: url("../../assets/bgMain.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0;
}
.inner {
    display: flex;
    justify-content: center;
    flex-basis: 1200px;
    flex-shrink: 1;
    flex-grow: 0;
    margin: 0 30px;
    padding: 50px;
    height: 100vh;
    background-color: #CCDDDD;
    border-left: 5px solid #F50000;
    border-right: 5px solid #F50000;
}
.signup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 360px;
    margin: 10px auto;
    padding: 10px;
}
.signup label {
    margin: 10px;
}
.signup span {
    display: block;
    margin: 5px;
}
.signup input {
    padding: 2px 4px;
    height: 23px;
    width: 240px;
    border: 2px solid #77B28C;
    border-radius: 4px;
}
.signup input:focus {
    border-color: #004225;
}

