@import url('https://fonts.googleapis.com/css2?family=Anek+Tamil&display=swap');

/* global styles */
body {
  background-color: #000000;
  height: 100%;
  width: 100%;
  font-family: 'Anek Tamil', sans-serif;
  font-size: 15px;
  letter-spacing: 1px;
  overflow-x: hidden;
}

ul, li, p, h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
}
ul {
  list-style-type: none;
}
.btn {
  background: #F50000;
  max-width: 100px;
  border: none;
  padding: 6px 12px;
  border-radius: 4px;
  color: #CCDDDD;
  font-weight: normal;
  font-size: 13px;
  letter-spacing: inherit;
  cursor: pointer;
}
.btn:hover {
  background: #92140C;
}
