.navbar {
    width: 100%;
    background: #77B28C;
    margin-top: 0;
    padding: 3px 3px;
    box-sizing: border-box;
    font-weight: 500;
}
.navbar ul {
    display: flex;
    align-items: center;
    margin: 0 auto;
    max-width: 1200px;
}
.navbar li, .navbar a {
    margin-right: 16px;
}
.navbar a {
    color: #333;
    text-decoration: none;
}
.push {
    margin-left: auto;
}
.logo {
    width: 48px;
    height: 48px;
    margin: 0;
}
